{% load staticfiles %}
{% load static %}

<!DOCTYPE html>

<html>
<head>

    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    <style>

    </style>

</head>
<body>


<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'demo' %}">Demo</a></li>
         {% if user.is_authenticated %}
                <li><a href="{% url 'update_profile' %}">Update Profile</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
      </ul>
    </div>
  </nav>


<!-- End of Navbar -->


{% block content %}
{% endblock %}

</body>
</html>