{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load material_form %}


{% block content %}


   <div class="row">
      <div class="col m12 ">
       <div class="card-panel">
       <div class="card-content">
       <h5> Profile </h5>
           {{ profile_form }}

       </div>
   </div>
    </div>
   <div class="col m12 ">
       <div class="card-panel">
       <div class="card-content">
       <h5> shipping address </h5>
           {{ shipping_form }}


       </div>
   </div>
    </div>
    </div>

    <!-- Simple Textfield -->




{% endblock %}