{% extends 'Amazon_Core/base.html' %}
{% load static %}

{% block content %}
{% load material_form %}

    <div class="col-md-12">
    <h1 style="text-align: center" > LOGIN</h1>
    </div>

     <div class="row">
      <div class="col s4"></div>
      <div class="col s4">
             <form method="POST">
        {% csrf_token %}
        {% form form=form %}
        {% endform %}
        <button type="submit" name="_submit" class="btn">Login</button>
    </form>
          </div>
      <div class="col s4"></div>
    </div>



{% endblock %}