{% extends 'Amazon_Core/base.html' %}
{% load static %}

{% block content %}

    <div class="col-md-12">
    <h1 style="text-align: center" > Order Details</h1>
    </div>

    <div class="container">
    <p style="text-align: center; font-size: 20px">Order number:{{ order.id }} &emsp;&emsp;&emsp; Total:${{ order.total_cost }} &emsp;&emsp;&emsp;  Status:{{ order.status }}</p>
    <br>

    <form action="/viewOrder/{{ order.id }}" method="post">
    {% csrf_token %}
    <table class="bordered">
        <thead>
          <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Sub-total</th>
              <th>Shipment ID</th>
              <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
    {% for shipment in shipmentSet %}
        <td>{{ shipment.litem.item }}</td>
        <td>{{ shipment.litem.quantity}}</td>
        <td>{{ shipment.litem.cost}}</td>
        <td>{{ shipment.litem.subTotal}}</td>
        <td>{{ shipment.id}}</td>
        <td>{{ shipment.status}}</td>
        <td>
                {% if shipment.status == 'PI' %}

                            <input name="{{  shipment.litem.id  }}" type="checkbox" id="{{ shipment.litem.id }}" />
                            <label for="{{ shipment.litem.id }}">Return</label>
                {% endif %}
              {% if shipment.status == 'PA' %}

                            <input name="{{  shipment.litem.id  }}" type="checkbox" id="{{ shipment.litem.id }}" />
                            <label for="{{ shipment.litem.id }}">Return</label>
                {% endif %}
              {% if shipment.status == 'SH' %}

                            <input name="{{  shipment.litem.id  }}" type="checkbox" id="{{ shipment.litem.id }}" />
                            <label for="{{ shipment.litem.id }}">Return</label>
                {% endif %}
        </td>
    {% endfor %}
          </tr>
        </tbody>
      </table>
    <p style="text-align: center">
    <button style="align: center"  type="submit" name="_submit" class="btn green">Submit Returns</button>
    </p>

    </form>
    </div>

{% endblock %}
