{% extends 'Amazon_Core/base.html' %}
{% load static %}

{% block content %}

    <div class="col-md-12">
    <h1 style="text-align: center" > View Subscriptions</h1>
    </div></br>

    <div class="container">
    <form action="/viewSubscriptions/" method="post">
    {% csrf_token %}
    <div style="font-size:25px">
        {% for sub in subscriptions %}
            <li>
                <a style="align: left" href="{% url 'subscriptionDetail' sub.id %}">Subscription #{{ sub.id }} - ${{ sub.total_cost }} - {{ sub.timeframe }}</a>
                <span style="float:right;">
                    <input name="{{  sub.id  }}" type="checkbox" id="{{ sub.id }}" />
                    <label for="{{ sub.id }}">Delete</label>
                </span>
            </li></br>
        {% endfor %}
    </div>
    <p style="text-align: center">
    <button style="align: center"  type="submit" name="_submit" class="btn red">Delete Subscriptions</button>
    </p>

    </form>
      </div>

{% endblock %}
