{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load material_form %}


{% block content %}


   <div class="row">
      <div class="col m4 offset-m4">
       <div class="card-panel">
       <div class="card-content">
       <h5 style="text-align: center" > Signup </h5>
             <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}?next={{ request.GET.next }}&&ref={{ request.GET.ref }}" enctype="multipart/form-data">
                 {% csrf_token %}
                 {{ form.as_p }}
                 {% if redirect_field_value %}
                     <input type=" hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                 {% endif %}
                 <button class="btn waves-effect waves-teal" type="submit">{% trans "Sign Up" %} &raquo;</button>
             </form>
             <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
      </div>
   </div>
    </div>
    </div>

    <!-- Simple Textfield -->




{% endblock %}